<form method="POST" action="/login">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" autofocus>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password">
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
    <a class="btn btn-link" href="/forgot">Forgot Password?</a>
</form>